<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula, nibh vel efficitur aliquam, turpis lectus hendrerit libero, eget viverra enim elit at sapien.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <address>
            1234 Street Name<br>
            City, AA 99999<br>
            Email: <a href="mailto:info@example.com" class="text-white">info@example.com</a><br>
            Phone: <a href="tel:+1234567890" class="text-white">+1 234 567 890</a>
          </address>
        </div>
      </div>
      <div class="text-center py-3">
        <small>&copy; 2024 Mini AirBnB. All Rights Reserved.</small>
      </div>
    </div>
  </footer>